---
import { ClientRouter } from "astro:transitions";
import Header from './Header.astro';
import Footer from './Footer.astro';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/global.css">
<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	<ClientRouter></ClientRouter>
	</head>
	<body>
<Header></Header>
		<slot />
<Footer></Footer>
	</body>
	<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
</html>

<style>
	@import "tailwindcss";
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: black;
	}
</style>
